.content
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

.content::before
    content: ''
    position: absolute
    top: 0px
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(45deg, #2b3d51, #2b3d51 50%, #ecf1f3 50%, #ecf1f3)

.content::after 
    content: ''
    position: absolute
    top: -20px
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(160deg, #e94d40, #e94d40 50%, transparent 50%, transparent)
    animation: animate 5s ease-in-out infinite

.container 
    position: relative

.container::before 
    content: ''
    position: absolute
    bottom: -150px
    width: 100%
    height: 60px
    background: radial-gradient(rgba(0,0,0,0.2), transparent, transparent)
    border-radius: 50%

.box
    position: relative
    z-index: 1
    width: 500px
    height: 500px
    backdrop-filter: blur(25px)
    border-radius: 50%
    border: 1px solid rgba(255,255,255,0.5)
    animation: animate 5s ease-in-out infinite
    animation-delay: -2.5s

.button
    position: absolute
    z-index: 1
    
@keyframes animate 
    0%,100% 
        transform: translateY(10px)
    50%
        transform: translateY(-10px)
    
