.container
    display: flex
    flex-wrap: wrap

    
.content
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    width: 50%
    height: 100vh
    background: #adefd1ff

.heading_home
    font-size: 120px
    font-family: 'Inter', sans-serif
    font-weight: 1000
    line-height: 0.95
    padding-left: 32px

.logo_home
    font-size: 27px
    font-family: 'Inter', sans-serif
    font-weight: 1000
    position: absolute
    top: 0
    left: 0
    padding-left: 32px
    padding-top: 32px

.heading_span
    color: #00203fff

.paragraph_home
    font-size: 27px
    font-family: 'Inter', sans-serif
    font-weight: 500
    position: absolute
    padding-bottom: 32px
    padding-left: 32px
    bottom: 0
    left: 0


.content_2
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 50%
    height: 100vh
    background: #00203fff

.links_1
    color: #8c3ee8
    font-size: 100px
    font-family: 'VALORANT', sans-serif
    text-decoration: none
    position: relative

.links_1:hover
    text-shadow: 1px 1px 10px #8c3ee8

.links_1::before
    content: 'Digital'
    position: absolute
    left: 10px
    right: 0
    opacity: 20%
    pointer-events: none
    
.links_2
    color: #8c3ee8
    font-size: 100px
    font-family: 'VALORANT', sans-serif
    text-decoration: none
    position: relative

.links_2:hover
    text-shadow: 1px 1px 10px #8c3ee8
    
.links_2::before
    content: 'Analog'
    position: absolute
    left: 10px
    right: 0
    opacity: 20%
    pointer-events: none

.links_3
    color: #8c3ee8
    font-size: 100px
    font-family: 'VALORANT', sans-serif
    text-decoration: none
    position: relative

.links_3:hover
    text-shadow: 1px 1px 10px #8c3ee8
    
.links_3::before
    content: 'Stopwatch'
    position: absolute
    left: 10px
    right: 0
    opacity: 20%
    pointer-events: none