$primary_color: #adefd1ff
$secondary_color: #00203fff
$primary_font: 'Inter', sans-serif
$border_px: 10px

.container
    display: flex
    flex-direction: row
    
.content
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    width: 50%
    height: 100vh
    min-height: 500px
    background: $primary_color

.content_2
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 50%
    height: 100vh
    min-height: 500px
    background: $secondary_color
    overflow-x: hidden

/* content_1 - START */
.heading_home
    color: $secondary_color
    font-family: $primary_font
    font-size: 5vw
    font-weight: 1000
    letter-spacing: -2px
    line-height: 1
    margin-bottom: 100px
    padding-left: 50px

.logo_home
    color: $secondary_color
    font-family: $primary_font
    font-size: 1.9vw
    font-weight: 1000
    letter-spacing: -2px
    position: absolute
    top: 0
    left: 0
    padding-left: 50px
    padding-top: 50px

.paragraph_home
    color: $secondary_color
    font-family: $primary_font
    font-size: 1vw
    font-weight: 400
    letter-spacing: -1px
    position: absolute
    bottom: 0
    left: 0
    padding-bottom: 50px
    padding-left: 50px
/* content_1 - END */

/* content_2 - START */
.links_1
    /* Text */
    color: $secondary_color
    font-size: 4vw
    font-weight: 1000
    font-family: $primary_font
    text-decoration: none
    line-height: 175px
    padding-left: 32px

    /* Box */
    position: absolute
    right: 0
    background-color: $primary_color
    height: 175px
    max-width: 90%
    width: 1200px
    margin-bottom: 700px
    border-top-left-radius: $border_px
    border-bottom-left-radius: $border_px      
    transition: transform 0.2s ease-in-out
    
.links_2
    /* Text */
    color: $secondary_color
    font-size: 4vw
    font-weight: 1000
    font-family: $primary_font
    text-decoration: none
    line-height: 175px
    padding-left: 32px

    /* Box */
    position: absolute
    right: 0
    background-color: $primary_color
    height: 175px
    max-width: 90%
    width: 1200px
    margin-bottom: 310px
    border-top-left-radius: $border_px
    border-bottom-left-radius: $border_px
    transition: transform 0.2s ease-in-out

.links_3
    /* Text */
    color: $secondary_color
    font-size: 4vw
    font-weight: 1000
    font-family: $primary_font
    text-decoration: none
    line-height: 175px
    padding-left: 32px

    /* Box */
    position: absolute
    right: 0
    background-color: $primary_color
    height: 175px
    max-width: 90%
    width: 1200px
    margin-top: 310px
    border-top-left-radius: $border_px
    border-bottom-left-radius: $border_px
    transition: transform 0.2s ease-in-out
    
.links_4
    /* Text */
    color: $secondary_color
    font-size: 4vw
    font-weight: 1000
    font-family: $primary_font
    text-decoration: none
    line-height: 175px
    padding-left: 32px

    /* Box */
    position: absolute
    right: 0
    background-color: $primary_color
    height: 175px
    max-width: 90%
    width: 1200px
    margin-top: 700px
    border-top-left-radius: $border_px
    border-bottom-left-radius: $border_px
    transition: transform 0.2s ease-in-out

.links_1:hover
    transform: translate(50px)

.links_2:hover
    transform: translate(50px)

.links_3:hover
    transform: translate(50px)

.links_4:hover
    transform: translate(50px)
/* content_2 - END */

/* Responsive Design - START */
@media only screen and (max-width: 768px)
    .container
        flex-direction: column
    .content, .content_2
        width: 100%
        height: 50vh
    .logo_home
        font-size: 24px       
    .heading_home
        font-size: 60px
        margin-bottom: 50px
    .paragraph_home
        font-size: 14px
        letter-spacing: 0px
    .links_1
        font-size: 30px
        height: 8vh
        line-height: 8vh
        margin-bottom: 35vh
    .links_2
        font-size: 30px
        height: 8vh
        line-height: 8vh
        margin-bottom: 15vh
    .links_3
        font-size: 30px
        height: 8vh
        line-height: 8vh
        margin-top: 15vh
    .links_4
        font-size: 30px
        height: 8vh
        line-height: 8vh
        margin-top: 35vh
    .links_1:hover
        transform: translate(30px)
    .links_2:hover
        transform: translate(30px)
    .links_3:hover
        transform: translate(30px)
    .links_4:hover
        transform: translate(30px)
/* Responsive Design - END */
